<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="style.css")
    body
     .container
        h2 Work Space Illustration <b class="html">HTML</b> and <b class="css">CSS</b>
        .deskLine
            .boxContainer
                .boxLine
                .boxCover
                .box1
                    .handle
            .boxContainer
                .box1
                    .handle
            .midHold
                .lines
            .rightStand
            <!--TOP LAYER -->
            .topDesk
                .lampBaseCircle
                    .lampBase
                .lambMidCircle
                    .ropeBottom
                    .ropeTop
                    .topLine
                        .lambSmallHead
                        .lambHead
                            .lambHeadCircle
                        .bulb
                        .lambHeadLine
                    .bottomLine
                .cup
                    .cupHandle
                .pcBase
                    .baseFixer
                        .fixerBase
                        .leftTurn
                        .rightTurn
                    .pcHead
                        .top
                            .screenMove
                        .bottom
                            .powerButton
                .mouse
                .glass


